In [2]:
#author: James Chan Â© 2018
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import st_utils as ut
import datetime as dt
import string

import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer

from dateutil import parser
from datetime import timedelta, date
%matplotlib inline

In [3]:
# initialize date range
start_date = '2018-01-01'
end_date = '2018-8-31'

In [63]:
# grab news.  nnly need to do this once
keywords = ['tesla'] #these three stocks move largely base on news
news_source = 'wsj.com, bloomberg.com, cnbc.com'
df = ut.get_news(keywords, start_date, end_date, news_source)
df.to_csv('news_dataset.csv')

{'status': 'ok', 'totalResults': 1798, 'articles': []}
total number of articles  1798
downloading page:  1
downloading page:  2
downloading page:  3
downloading page:  4
downloading page:  5
downloading page:  6
downloading page:  7
downloading page:  8
downloading page:  9
downloading page:  10
downloading page:  11
downloading page:  12
downloading page:  13
downloading page:  14
downloading page:  15
downloading page:  16
downloading page:  17
downloading page:  18
download complete

In [201]:
# get Tesla's prices
dates = pd.date_range(start_date, end_date)
file = 'TSLA.csv'
df_stock = ut.get_data(file, dates)

In [202]:
# calculate return 
df_stock['Return'] = df_stock['Adj Close'].pct_change()
df_stock.drop(df_stock.index[0], inplace=True)

In [203]:
df_news = pd.read_csv('news_dataset.csv', index_col=0, encoding="ISO-8859-1")

In [204]:
# map published time to close date.  see figure.1
def map_to_close_date(published_date):
    dt = parser.parse(published_date[:-1]) #-1 to ignore the Z, which is GMT.
    dt = dt - timedelta(hours=20) #shift back by 20 hrs.
    return pd.Timestamp(year=dt.year, month=dt.month, day=dt.day)

In [205]:
# map news to close date
df_news['Published'] = df_news['Published'].apply(map_to_close_date)

In [206]:
# combine title and body into single text
df_news['Text'] = df_news['Title'] + ' ' + df_news['Body']

In [207]:
# just keep published, and the combined text
df_news = df_news[['Published','Text']]

In [ ]:
# merge news and stock
df_stock['Published'] = df_stock.index
df_merged = pd.merge(df_news, df_stock, how='left', on='Published')
df_merged = df_merged.dropna()
df_merged.sort_values(by='Published')

In [ ]:
df_stock['Published'] = df_stock.index
df_merged = df_merged.dropna()
df_merged.sort_values(by='Published')

In [210]:
def tokenize_news(text):
    if(type(text)==float):
        return []
    lmtzr = WordNetLemmatizer()
    stmr = PorterStemmer()
    translator = str.maketrans('', '', string.punctuation)
    text = (text.translate(translator))
    text = "".join(c for c in text if ord(c)<128) #strip no n ascii characters
    tokens = nltk.tokenize.word_tokenize(text)
    t = []
    minlen =  4
    maxlen = 20 
    for token in tokens:
        if len(token) < minlen or len(token) > maxlen or token.isnumeric() or token in stopwords.words('english'):
            pass
        else:
            token = lmtzr.lemmatize(token)
            token = stmr.stem(token)
            t.append(token)
    return t

In [212]:
df_merged['Text'] = df_merged['Text'].apply(tokenize_news)

In [ ]:
df_merged

In [214]:
#construct vocabulary and frequency.  frequency is not really needed, just nice to have for understanding the concept.
vocab = {}
frequency = {}
ignore = ['bloomberg', 'journal']
index = 0
for title in df_merged['Text']:
    for word in title:
        if word in ignore:
            continue
        if word not in vocab:
            vocab[word] = index
            index += 1
            frequency[word] = 1
        else:
            frequency[word] += 1

In [ ]:
#visualize words frequency
for i in sorted(frequency.items(), key=lambda x:x[1], reverse=True):
    print(i)

In [ ]:
vocab_len = len(vocab)
df_merged

In [233]:
def to_one_hot(text):
    #return one hot vector of shape (vocab_len, 1)
    array = np.zeros((vocab_len, 1))
    for word in text:
        if word in vocab:
            index = vocab[word]
            array[index] = 1
    return array

In [234]:
# here is the exciting part. here we are going to create the training data!
X = np.empty((vocab_len,0))
for text in df_merged['Text']:
    array = to_one_hot(text)
    X = np.hstack((X,array))

In [244]:
X

array([[1., 1., 1., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [245]:
df_merged

,Published,Text,Adj Close,Return
0,2018-04-02,"[tesla, end, make, model, sedan, week, tesla, ...",252.479996,-0.051291
1,2018-07-23,"[tesla, want, money, back, elon, musk, ask, do...",303.200012,-0.033102
3,2018-05-08,"[florida, teenag, kill, tesla, crash, tesla, s...",301.970001,-0.002642
4,2018-05-09,"[nhtsa, join, ntsb, look, fatal, tesla, crash,...",306.850006,0.016161
5,2018-04-12,"[tesla, investig, feud, over, crash, tesla, in...",294.079987,-0.022763
6,2018-04-16,"[tesla, halt, model, product, again, wall, str...",291.209991,-0.030399
7,2018-06-29,"[elon, musk, tweet, featur, tesla, pickup, tru...",342.950012,-0.019947
8,2018-03-27,"[tesla, defend, autopilot, record, fed, launch...",279.179993,-0.082188
9,2018-03-29,"[tesla, recal, model, car, over, bolt, issu, w...",266.130005,0.032392
10,2018-04-26,"[kany, cant, save, tesla, from, chipotl, long,...",285.480011,0.017065
11,2018-06-11,"[buri, musk, cut, memo, home, depot, solar, sa...",332.100006,0.045457
13,2018-07-11,"[panason, say, open, work, with, tesla, china,...",318.959991,-0.010885
16,2018-06-22,"[tesla, crackup, foretold, real, problem, gove...",333.630005,-0.039941
17,2018-05-15,"[tesla, lose, energi, leader, musk, reorgan, b...",284.179993,-0.026681
18,2018-07-05,"[musk, say, norwegian, right, upset, with, tes...",309.160004,-0.005469
19,2018-06-12,"[tesla, deepak, ahuja, worst, tesla, layoff, t...",342.769989,0.032129
20,2018-01-26,"[tesla, superfan, stage, cancer, get, surpris,...",342.850006,0.015431
21,2018-01-22,"[elon, musk, tesla, propos, could, earn, billi...",351.559998,0.004400
22,2018-01-03,"[tesla, model, product, snarl, wall, street, w...",317.250000,-0.010233
23,2018-05-02,"[tesla, rais, mani, question, just, make, sure...",301.149994,0.004101
24,2018-03-27,"[tesla, go, come, roar, back, silicon, valley,...",279.179993,-0.082188
26,2018-04-04,"[thi, polic, depart, switch, tesla, suv, elon,...",286.940002,0.072553
27,2018-04-03,"[tesla, china, trade, elon, musk, thorniest, t...",267.529999,0.059609
28,2018-01-22,"[tesla, chang, elon, musk, market, target, 10y...",351.559998,0.004400
29,2018-01-03,"[tesla, deliv, model, sedan, total, vehicl, fo...",317.250000,-0.010233
30,2018-03-28,"[elon, musk, might, control, tesla, bloomberg,...",257.779999,-0.076653
31,2018-03-15,"[tesla, face, crunch, cash, hoard, thin, tesla...",325.600006,-0.003153
32,2018-05-21,"[elon, musk, say, make, cheaper, model, would,...",284.489990,0.027707
35,2018-02-06,"[tesla, earn, what, watch, tesla, expect, rele...",333.970001,0.002522
36,2018-04-16,"[china, doe, tesla, favor, carmak, exist, join...",291.209991,-0.030399
...,...,...,...,...
1759,2018-03-07,"[iran, industri, still, wait, cash, infusionen...",332.299988,0.012492
1760,2018-03-06,"[magnesium, save, town, asbesto, centuri, mine...",328.200012,-0.015449
1761,2018-03-29,"[russia, lash, back, john, bolton, polit, trum...",266.130005,0.032392
1762,2018-03-12,"[robot, ride, go, deliv, pizza, parcel, befor,...",345.510010,0.056056
1767,2018-01-05,"[user, guid, driverless, car, wait, selfdriv, ...",316.579987,0.006230
1768,2018-04-16,"[real, time, econom, trade, tension, escal, ag...",291.209991,-0.030399
1769,2018-04-26,"[million, year, partner, bid, grow, toptier, f...",285.480011,0.017065
1770,2018-04-11,"[ryan, replac, pompeo, hill, senat, shield, mu...",300.929993,-0.012373
1771,2018-04-16,"[capit, journal, superpow, conflict, clinton, ...",291.209991,-0.030399
1773,2018-05-14,"[which, motorcycl, should, guid, bike, there, ...",291.970001,-0.030193
1774,2018-07-26,"[about, social, media, contagion, faang, take,...",306.649994,-0.006769
1776,2018-02-13,"[product, februari, here, boost, dont, surrend...",323.660004,0.025116
1777,2018-04-03,"[mueller, mandat, trump, unbound, china, tarif...",267.529999,0.059609
1778,2018-04-04,"[real, time, econom, uschina, showdown, job, p...",286.940002,0.072553
1779,2018-02-08,"[hous, pass, bill, shutdown, after, rand, paul...",315.230011,-0.086290
1780,2018-02-08,"[hous, pass, bill, shutdown, after, rand, paul...",315.230011,-0.086290
1781,2018-06-21,"[cant, hide, corpor, cop, also, data, scienc, ...",347.510010,-0.040611
1782,2018-07-25,"[spacex, secret, weapon, gwynn, shotwel, launc...",308.739990,0.038026
1783,2018-03-26,"[facebook, help, shadi, advertis, pollut, inte...",304.179993,0.008755
1784,2018-02-01,"[cyberinsid, trade, illeg, bloomberg, hack, co...",349.250000,-0.014281
1786,2018-05-14,"[gunlaw, loophol, that, entic, tycoon, crimin,...",291.970001,-0.030193
1787,2018-07-05,"[walmart, take, stand, gun, right, peopl, like...",309.160004,-0.005469
1788,2018-05-24,"[mike, meru, million, student, loan, that, hap...",277.850006,-0.004372
1789,2018-05-16,"[tri, write, thi, stori, then, gave, wrote, da...",286.480011,0.008094
1790,2018-02-07,"[china, outlook, seem, darkest, from, distanc,...",345.000000,0.033027
1791,2018-02-06,"[comstock, challeng, trump, over, shutdown, co...",333.970001,0.002522
1793,2018-04-09,"[instagram, look, like, facebook, best, hope, ...",289.660004,-0.032208
1794,2018-04-23,"[cnbc, excerpt, cnbc, broadcast, live, sohn, i...",283.369995,-0.023670
1795,2018-05-23,"[china, 36thbest, compani, save, volvo, bloomb...",279.070007,0.014763
1796,2018-05-16,"[appl, rival, their, futur, these, men, dream,...",286.480011,0.008094