In [11]:
#author: James Chan © 2018
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import st_utils as ut
import datetime as dt
%matplotlib inline

In [15]:
#We are concerned about tech sentiment, QQQ will be our stock (ETF) of interest.
sd = dt.datetime(2009,1,1)
ed = dt.datetime(2010,1,1)
dates = pd.date_range(sd, ed)
df = ut.get_data('QQQ.csv', dates)

In [18]:
'''
Assumptions:
1. We assume we enter buy order at market close, hence using adjusted close. 
2. The news 
'''
df.dropna()
df['Daily Return'] = df['Adj Close'].pct_change()

In [19]:
#using FAANG not only because it's a cool buzzword, but they are also the tech market drivers
companies = ['facebook','apple','amazon','netflix','google']
companies = ['amazon']
start_date = '2018-07-25'
end_date = '2018-07-28'
news_source = 'wsj.com'
apikey = '23e7e5c41b6443f1bb556ec312275aff'
query_urls = []
for company in companies:
    url = 'https://newsapi.org/v2/everything?q={}&from={}&to={}&domains={}&apiKey={}'\
            .format(company, start_date, end_date, news_source, apikey)
    query_urls.append(url)


#data provided by https://newsapi.org <----these guys are awesome :-)!
for url in query_urls:
    response = requests.get(url)
    news = response.json()

In [ ]:
# pandas = 
#data preprocess:
#1. use description only, remove entries that don't actually have the company name mentioned in the description
#2. need to offset time by -4 hours to get ET time.  e.g., 1:00pm ET (summer) is shown as 17:00.
#3. bin the time to market open and market close per day.
for article in news['articles']:
    print(article['title'])
    print(article['description'])
    print()
    print(article['publishedAt'])

In [20]:
df

            Adj Close  Daily Return
2009-01-01        NaN           NaN
2009-01-02  28.152836           NaN
2009-01-03        NaN           NaN
2009-01-04        NaN           NaN
2009-01-05  28.143766     -0.000322
2009-01-06  28.425024      0.009994
2009-01-07  27.617548     -0.028407
2009-01-08  27.907877      0.010512
2009-01-09  27.281853     -0.022432
2009-01-10        NaN           NaN
2009-01-11        NaN           NaN
2009-01-12  26.782850     -0.018291
2009-01-13  26.791922      0.000339
2009-01-14  25.975370     -0.030478
2009-01-15  26.401794      0.016416
2009-01-16  26.692123      0.010997
2009-01-17        NaN           NaN
2009-01-18        NaN           NaN
2009-01-19        NaN           NaN
2009-01-20  25.367496     -0.049626
2009-01-21  26.447159      0.042561
2009-01-22  26.093323     -0.013379
2009-01-23  26.220339      0.004868
2009-01-24        NaN           NaN
2009-01-25        NaN           NaN
2009-01-26  26.410866      0.007266
2009-01-27  26.601397      0.007214
2009-01-28  27.535889      0.035129
2009-01-29  26.837284     -0.025371
2009-01-30  26.365505     -0.017579
...               ...           ...
2009-12-03  39.973999     -0.004084
2009-12-04  40.183460      0.005240
2009-12-05        NaN           NaN
2009-12-06        NaN           NaN
2009-12-07  39.992210     -0.004759
2009-12-08  39.746292     -0.006149
2009-12-09  40.147038      0.010083
2009-12-10  40.347393      0.004991
2009-12-11  40.192570     -0.003837
2009-12-12        NaN           NaN
2009-12-13        NaN           NaN
2009-12-14  40.575108      0.009518
2009-12-15  40.347393     -0.005612
2009-12-16  40.402050      0.001355
2009-12-17  39.910225     -0.012173
2009-12-18  40.560699      0.016298
2009-12-19        NaN           NaN
2009-12-20        NaN           NaN
2009-12-21  41.016846      0.011246
2009-12-22  41.263176      0.006006
2009-12-23  41.564217      0.007296
2009-12-24  41.947403      0.009219
2009-12-25        NaN           NaN
2009-12-26        NaN           NaN
2009-12-27        NaN           NaN
2009-12-28  42.166340      0.005219
2009-12-29  41.992996     -0.004111
2009-12-30  42.120724      0.003042
2009-12-31  41.737568     -0.009097
2010-01-01        NaN           NaN

[366 rows x 2 columns]