In [30]:
#author: James Chan Â© 2018
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [42]:
#We are concerned about tech sentiment, QQQ will be our stock (ETF) of interest.
df = pd.read_csv('QQQ.csv')

In [62]:
'''
Assumptions:
1. We assume we enter buy order at market close, hence using adjusted close. 
2. The news 
'''
df = df[['Date','Open','Close']]
df_open_return = pd.DataFrame((df['Close'] - df['Open']) / df['Open'], columns = ['Open Return'])
df_close_return = pd.DataFrame((df['Open'] - df['Close'].shift(1)) / df['Close'].shift(1), columns = ['Close Return'])

In [63]:
df.join((df_open_return, df_close_return))

            Date        Open       Close  Open Return  Close Return
0     1999-03-10   51.125000   51.062500    -0.001222           NaN
1     1999-03-11   51.437500   51.312500    -0.002430      0.007344
2     1999-03-12   51.125000   50.062500    -0.020782     -0.003654
3     1999-03-15   50.437500   51.500000     0.021066      0.007491
4     1999-03-16   51.718750   51.937500     0.004230      0.004248
5     1999-03-17   51.937500   51.562500    -0.007220      0.000000
6     1999-03-18   51.500000   52.562500     0.020631     -0.001212
7     1999-03-19   53.250000   51.218750    -0.038146      0.013080
8     1999-03-22   51.437500   50.593750    -0.016403      0.004271
9     1999-03-23   50.312500   48.812500    -0.029814     -0.005559
10    1999-03-24   49.250000   50.468750     0.024746      0.008963
11    1999-03-25   51.250000   52.312500     0.020732      0.015480
12    1999-03-26   51.875000   51.750000    -0.002410     -0.008363
13    1999-03-29   52.375000   53.625000     0.023866      0.012077
14    1999-03-30   53.562500   53.250000    -0.005834     -0.001166
15    1999-03-31   54.125000   52.468750    -0.030600      0.016432
16    1999-04-01   54.000000   53.562500    -0.008102      0.029184
17    1999-04-05   54.429649   55.500000     0.019665      0.016189
18    1999-04-06   55.437500   55.609348     0.003100     -0.001126
19    1999-04-07   56.125000   55.031250    -0.019488      0.009273
20    1999-04-08   54.937500   55.468750     0.009670     -0.001704
21    1999-04-09   55.375000   55.812500     0.007901     -0.001690
22    1999-04-12   54.500000   55.437500     0.017202     -0.023516
23    1999-04-13   55.781250   54.687500    -0.019608      0.006201
24    1999-04-14   55.375000   52.812500    -0.046275      0.012571
25    1999-04-15   53.000000   53.531250     0.010024      0.003550
26    1999-04-16   53.406250   51.968750    -0.026916     -0.002335
27    1999-04-19   52.312500   49.531250    -0.053166      0.006615
28    1999-04-20   49.312500   50.656250     0.027250     -0.004416
29    1999-04-21   51.125000   53.156250     0.039731      0.009254
...          ...         ...         ...          ...           ...
4849  2018-06-15  176.929993  176.979996     0.000283     -0.003773
4850  2018-06-18  175.490005  176.500000     0.005755     -0.008419
4851  2018-06-19  174.270004  176.000000     0.009927     -0.012635
4852  2018-06-20  176.809998  177.250000     0.002489      0.004602
4853  2018-06-21  177.699997  175.710007    -0.011199      0.002539
4854  2018-06-22  176.300003  175.320007    -0.005559      0.003358
4855  2018-06-25  173.729996  171.369995    -0.013584     -0.009069
4856  2018-06-26  172.000000  172.070007     0.000407      0.003676
4857  2018-06-27  172.800003  169.729996    -0.017766      0.004242
4858  2018-06-28  169.520004  171.190002     0.009851     -0.001237
4859  2018-06-29  172.009995  171.649994    -0.002093      0.004790
4860  2018-07-02  170.039993  172.800003     0.016232     -0.009380
4861  2018-07-03  173.449997  170.800003    -0.015278      0.003762
4862  2018-07-05  171.910004  172.919998     0.005875      0.006499
4863  2018-07-06  173.320007  175.610001     0.013213      0.002313
4864  2018-07-09  176.520004  177.190002     0.003796      0.005182
4865  2018-07-10  177.520004  177.320007    -0.001127      0.001862
4866  2018-07-11  175.929993  176.419998     0.002785     -0.007839
4867  2018-07-12  177.199997  179.460007     0.012754      0.004421
4868  2018-07-13  179.449997  179.610001     0.000892     -0.000056
4869  2018-07-16  179.649994  179.179993    -0.002616      0.000223
4870  2018-07-17  177.279999  180.270004     0.016866     -0.010604
4871  2018-07-18  180.289993  179.929993    -0.001997      0.000111
4872  2018-07-19  179.279999  179.029999    -0.001394     -0.003612
4873  2018-07-20  179.619995  178.990005    -0.003507      0.003296
4874  2018-07-23  178.460007  179.559998     0.006164     -0.002961
4875  2018-07-24  181.410004  180.300003    -0.006119      0.010303
4876  2018-07-25  180.380005  182.820007     0.013527      0.000444
4877  2018-07-26  180.350006  180.050003    -0.001663     -0.013511
4878  2018-07-27  181.190002  177.619995    -0.019703      0.006332

[4879 rows x 5 columns]

In [2]:
#author: James Chan Â© 2018
import requests
#using FAANG not only because it's a cool buzzword, but they are also the tech market drivers
companies = ['facebook','apple','amazon','netflix','google']
companies = ['amazon']
start_date = '2018-07-25'
end_date = '2018-07-28'
news_source = 'wsj.com'
apikey = '23e7e5c41b6443f1bb556ec312275aff'
query_urls = []
for company in companies:
    url = 'https://newsapi.org/v2/everything?q={}&from={}&to={}&domains={}&apiKey={}'\
            .format(company, start_date, end_date, news_source, apikey)
    query_urls.append(url)


#data provided by https://newsapi.org <----these guys are awesome :-)!
for url in query_urls:
    response = requests.get(url)
    news = response.json()

In [4]:
# pandas = 
#data preprocess:
#1. use description only, remove entries that don't actually have the company name mentioned in the description
#2. need to offset time by -4 hours to get ET time.  e.g., 1:00pm ET (summer) is shown as 17:00.
#3. bin the time to market open and market close per day.
for article in news['articles']:
    print(article['title'])
    print(article['description'])
    print()
    print(article['publishedAt'])

Amazon Continues Profit Streak
Amazon continued its streak of profitability, easily topping $1 billion for the third straight quarter, as the company extends its dominance in online retailing and draws gains from its flourishing cloud-computing business.
{'source': {'id': 'the-wall-street-journal', 'name': 'The Wall Street Journal'}, 'author': 'Laura Stevens', 'title': 'Amazon Continues Profit Streak', 'description': 'Amazon continued its streak of profitability, easily topping $1 billion for the third straight quarter, as the company extends its dominance in online retailing and draws gains from its flourishing cloud-computing business.', 'url': 'https://www.wsj.com/articles/amazon-continues-profit-streak-1532635804', 'urlToImage': 'https://images.wsj.net/im-19760/social', 'publishedAt': '2018-07-26T20:10:06Z'}


2018-07-26T20:10:06Z
How Sellers Trick Amazon To Boost Sales
The digital giant battles click farms, reviewers-for-hire and other scams as merchants try to outsmart its product-ranking system.
{'source': {'id': 'the-wall-street-journal', 'name': 'The Wall Street Journal'}, 'author': 'Laura Stevens in San Francisco and Jon Emont in Hong Kong', 'title': 'How Sellers Trick Amazon To Boost Sales', 'description': 'The digital giant battles click farms, reviewers-for-hire and other scams as merchants try to outsmart its product-ranking system.', 'url': 'https://www.wsj.com/articles/how-sellers-trick-amazon-to-boost-sales-1532750493', 'urlToImage': 'https://si.wsj.net/public/resources/images/OG-BO954_CLICKF_G_20180727163629.gif', 'publishedAt': '2018-07-28T04:30:10Z'}


2018-07-28T04:30:10Z
Why Do the Biggest Companies Keep Getting Bigger? It's How They Spend on Tech
The secret of success for Amazon, Google and Microsoft is how much they invest in their own technology.
{'source': {'id': 'the-wall-street-journal', 'name': 'The Wall Street Journal'}, 'author': 'Christopher Mims', 'title': "Why Do the Biggest Companies Keep Getting Bigger? It's How They Spend on Tech", 'description': 'The secret of success for Amazon, Google and Microsoft is how much they invest in their own technology.', 'url': 'https://www.wsj.com/articles/why-do-the-biggest-companies-keep-getting-bigger-its-how-they-spend-on-tech-1532610001', 'urlToImage': 'https://si.wsj.net/public/resources/images/B3-BF491_KEYWOR_SOC_20180725104101.jpg', 'publishedAt': '2018-07-26T13:22:36Z'}


2018-07-26T13:22:36Z
AmazonEarnings: What to Watch
Analysts are high on Amazonâso high, theyâre largely expecting the company to surprise with an even better forecast for the year.
{'source': {'id': 'the-wall-street-journal', 'name': 'The Wall Street Journal'}, 'author': 'Laura Stevens', 'title': 'AmazonEarnings: What to Watch', 'description': 'Analysts are high on Amazonâso high, theyâre largely expecting the company to surprise with an even better forecast for the year.', 'url': 'https://www.wsj.com/articles/amazonearnings-what-to-watch-1532599200', 'urlToImage': 'https://images.wsj.net/im-19638/social', 'publishedAt': '2018-07-26T10:00:05Z'}


2018-07-26T10:00:05Z
WSJ City: Amazon Profit Soars to Record, Trumpâs Tactical Shift on Trade
MUST READS FROM WSJ CITY Amazonâs quarterly profit topped $2 billion for the first time, powered by the companyâs newer services businesses that are ushering the online retail giant into an era of swelling profitability. President Trumpâs truce with the EU siâ¦
{'source': {'id': 'the-wall-street-journal', 'name': 'The Wall Street Journal'}, 'author': 'Philip Georgiadis', 'title': 'WSJ City: Amazon Profit Soars to Record, Trumpâs Tactical Shift on Trade', 'description': 'MUST READS FROM WSJ CITY Amazonâs quarterly profit topped $2 billion for the first time, powered by the companyâs newer services businesses that are ushering the online retail giant into an era of swelling profitability. President Trumpâs truce with the EU siâ¦', 'url': 'https://blogs.wsj.com/moneybeat/2018/07/27/wsj-city-fri-draft-2/', 'urlToImage': '//si.wsj.net/public/resources/images/B3-BE578_TECHEA_P_20180720231934.jpg', 'publishedAt': '2018-07-27T07:08:10Z'}


2018-07-27T07:08:10Z
Stocks to Watch: Amazon, Intel, Twitter, Starbucks, Chipotle, Expedia, Exxon Mobil, Chesapeake, Merck
Among the companies with shares expected to trade actively in Friday's session are Amazon.com, Intel, Twitter, Starbucks, Chipotle and Expedia.
{'source': {'id': 'the-wall-street-journal', 'name': 'The Wall Street Journal'}, 'author': 'Francesca Fontana and Danielle Chemtob', 'title': 'Stocks to Watch: Amazon, Intel, Twitter, Starbucks, Chipotle, Expedia, Exxon Mobil, Chesapeake, Merck', 'description': "Among the companies with shares expected to trade actively in Friday's session are Amazon.com, Intel, Twitter, Starbucks, Chipotle and Expedia.", 'url': 'https://blogs.wsj.com/moneybeat/2018/07/27/stocks-to-watch-amazon-intel-twitter-starbucks-chipotle-expedia-exxon-mobil-chesapeake-merck/', 'urlToImage': 'https://si.wsj.net/public/resources/images/BN-XB493_3lDdh_P_20180118164249.jpg', 'publishedAt': '2018-07-27T13:24:14Z'}


2018-07-27T13:24:14Z
Walmart Explores Its Own Streaming Service
Walmart is exploring a subscription video streaming service that would seek to challenge Netflix and Amazon.com by offering programming that targets Middle America.
{'source': {'id': 'the-wall-street-journal', 'name': 'The Wall Street Journal'}, 'author': 'Joe Flint', 'title': 'Walmart Explores Its Own Streaming Service', 'description': 'Walmart is exploring a subscription video streaming service that would seek to challenge Netflix and Amazon.com by offering programming that targets Middle America.', 'url': 'https://www.wsj.com/articles/walmart-explores-its-own-streaming-service-1532775600', 'urlToImage': 'https://images.wsj.net/im-19887/social', 'publishedAt': '2018-07-28T11:00:02Z'}


2018-07-28T11:00:02Z
Chris O'Dowd Reveals What's on His iPhone
The Irish actor, who stars in the film âJuliet, Naked,â out this month, shares whatâs on his phone.
{'source': {'id': 'the-wall-street-journal', 'name': 'The Wall Street Journal'}, 'author': 'Wall Street Journal', 'title': "Chris O'Dowd Reveals What's on His iPhone", 'description': 'The Irish actor, who stars in the film âJuliet, Naked,â out this month, shares whatâs on his phone.', 'url': 'https://www.wsj.com/articles/chris-odowd-reveals-whats-on-his-iphone-1532530679', 'urlToImage': 'https://si.wsj.net/public/resources/images/B3-BE817_Downlo_SOC_20180723135219.jpg', 'publishedAt': '2018-07-25T14:58:01Z'}


2018-07-25T14:58:01Z
'Puzzle' Review: Less Than the Sum of Its Pieces
An unhappy wife discovers sheâs a jigsaw prodigy in Marc Turtletaubâs film.
{'source': {'id': 'the-wall-street-journal', 'name': 'The Wall Street Journal'}, 'author': 'Joe Morgenstern', 'title': "'Puzzle' Review: Less Than the Sum of Its Pieces", 'description': 'An unhappy wife discovers sheâs a jigsaw prodigy in Marc Turtletaubâs film.', 'url': 'https://www.wsj.com/articles/puzzle-review-less-than-the-sum-of-its-pieces-1532546470', 'urlToImage': 'https://si.wsj.net/public/resources/images/B3-BF549_Filmpu_TOP_20180725123037.jpg', 'publishedAt': '2018-07-25T19:21:12Z'}


2018-07-25T19:21:12Z
Why Wi-Fi Isn't Free on Airlines
Gogo and other in-flight Wi-Fi providers, are trying try to find the right price to attract users and cover the steep installation and operating costs.
{'source': {'id': 'the-wall-street-journal', 'name': 'The Wall Street Journal'}, 'author': 'Alison Sider', 'title': "Why Wi-Fi Isn't Free on Airlines", 'description': 'Gogo and other in-flight Wi-Fi providers, are trying try to find the right price to attract users and cover the steep installation and operating costs.', 'url': 'https://www.wsj.com/articles/why-wi-fi-isnt-free-on-airlines-1532520000', 'urlToImage': 'https://images.wsj.net/im-19385/social', 'publishedAt': '2018-07-25T12:28:17Z'}


2018-07-25T12:28:17Z
At the Expense of US Tech, a European Star Is Born - Wall Street Journal
Wall Street Journal At the Expense of US Tech, a European Star Is Born Wall Street Journal American tech firms have been handy punching bags for Ms. Vestager, there is no question. Even the Economist magazine, which likes her crusade, acknowledges she is poliâ¦
{'source': {'id': 'the-wall-street-journal', 'name': 'The Wall Street Journal'}, 'author': 'Holman W. Jenkins, Jr.', 'title': 'At the Expense of US Tech, a European Star Is Born - Wall Street Journal', 'description': 'Wall Street Journal At the Expense of US Tech, a European Star Is Born Wall Street Journal American tech firms have been handy punching bags for Ms. Vestager, there is no question. Even the Economist magazine, which likes her crusade, acknowledges she is poliâ¦', 'url': 'https://www.wsj.com/articles/at-the-expense-of-u-s-tech-a-european-star-is-born-1532729696', 'urlToImage': 'https://images.wsj.net/im-19892/social', 'publishedAt': '2018-07-27T22:18:57Z'}


2018-07-27T22:18:57Z
There's No Productivity Miracle Hiding in the Data
Why hasnât the technology revolution lifted the U.S.âs miserable productivity growth rate? Popular as the stealth productivity boom is, it is a myth.
{'source': {'id': 'the-wall-street-journal', 'name': 'The Wall Street Journal'}, 'author': 'Greg Ip', 'title': "There's No Productivity Miracle Hiding in the Data", 'description': 'Why hasnât the technology revolution lifted the U.S.âs miserable productivity growth rate? Popular as the stealth productivity boom is, it is a myth.', 'url': 'https://www.wsj.com/articles/theres-no-productivity-miracle-hiding-in-the-data-1532516401', 'urlToImage': 'https://images.wsj.net/im-19464/social', 'publishedAt': '2018-07-25T11:13:40Z'}


2018-07-25T11:13:40Z
A Postman's Final Salute: A Celebration of America and New York City
A New York postal workerâs love affair with America blossomed delivering the mail on the Upper East Side. After nearly 20 years on the job, he is retiring with a first-class letter of gratitude to his customers.
{'source': {'id': 'the-wall-street-journal', 'name': 'The Wall Street Journal'}, 'author': 'Josh Barbanel', 'title': "A Postman's Final Salute: A Celebration of America and New York City", 'description': 'A New York postal workerâs love affair with America blossomed delivering the mail on the Upper East Side. After nearly 20 years on the job, he is retiring with a first-class letter of gratitude to his customers.', 'url': 'https://www.wsj.com/articles/a-postmans-final-salute-a-celebration-of-america-and-new-york-city-1532618506', 'urlToImage': 'https://si.wsj.net/public/resources/images/B3-BF853_NYPOST_SOC_20180726104228.jpg', 'publishedAt': '2018-07-26T15:21:47Z'}


2018-07-26T15:21:47Z
Investors Step Back From Social-Media Highfliers
Shares of Twitter and Facebook endured a surprise rout this week, as investors were rattled by signs that users are souring on the social-media stalwarts.
{'source': {'id': 'the-wall-street-journal', 'name': 'The Wall Street Journal'}, 'author': 'Marc Vartabedian', 'title': 'Investors Step Back From Social-Media Highfliers', 'description': 'Shares of Twitter and Facebook endured a surprise rout this week, as investors were rattled by signs that users are souring on the social-media stalwarts.', 'url': 'https://www.wsj.com/articles/investors-step-back-from-social-media-highfliers-1532733551', 'urlToImage': 'https://images.wsj.net/im-19929/social', 'publishedAt': '2018-07-27T23:26:05Z'}


2018-07-27T23:26:05Z