In [229]:
#author: James Chan Â© 2018
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import st_utils as sut
import trader_utils as tut
import string

from scipy.stats import mode

from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer

from dateutil import parser
from datetime import timedelta, date

from keras.models import Sequential
from keras.layers import Dense
from keras import optimizers

from sklearn.model_selection import train_test_split

%matplotlib inline

In [3]:
# initialize date range
start_date = '2018-01-01'
end_date = '2018-8-31'

In [95]:
# grab news.  only need to do this once
keywords = ['tesla'] #these three stocks move largely base on news
news_source = 'wsj.com, bloomberg.com, cnbc.com'
df = sut.get_news(keywords, start_date, end_date, news_source)
df.to_csv('news_dataset.csv')

{'status': 'ok', 'totalResults': 1875, 'articles': []}
total number of articles  1875
downloading page:  1
downloading page:  2
downloading page:  3
downloading page:  4
downloading page:  5
downloading page:  6
downloading page:  7
downloading page:  8
downloading page:  9
downloading page:  10
downloading page:  11
downloading page:  12
downloading page:  13
downloading page:  14
downloading page:  15
downloading page:  16
downloading page:  17
downloading page:  18
downloading page:  19
download complete

In [383]:
# get Tesla's prices
dates = pd.date_range(start_date, end_date)
file = 'TSLA.csv'
df_stock = sut.get_data(file, dates)
df_stock.head()

             Adj Close
2018-01-02  320.529999
2018-01-03  317.250000
2018-01-04  314.619995
2018-01-05  316.579987
2018-01-08  336.410004

In [384]:
# calculate return 
df_stock['Return'] = df_stock['Adj Close'].shift(-1)/df_stock['Adj Close'].values-1.0
df_stock.drop(df_stock.index[-1], inplace=True)

In [385]:
df_news = pd.read_csv('news_dataset.csv', index_col=0, encoding="ISO-8859-1")
df_news.head()

,Published,Title,Body,Keyword,Source
0,2018-04-03T13:05:17Z,"Tesla Ends 1Q Making 2,020 Model 3 Sedans per ...","Tesla 1Q deliveries totaled 29,980 vehicles, B...",tesla,Bloomberg
1,2018-07-24T07:48:09Z,Tesla Wants Its Money Back,Elon Musk is asking for donations to save Tesl...,tesla,The Wall Street Journal
2,2018-07-01T22:13:00Z,What Tesla can do to keep the bears at bay dur...,"Buckle up, because Tesla could be in for a bum...",tesla,CNBC
3,2018-05-09T15:00:00Z,Two Florida teenagers killed in Tesla crash,Tesla said it is cooperating with authorities ...,tesla,CNBC
4,2018-05-10T19:00:00Z,NHTSA joins NTSB in looking into fatal Tesla c...,Tesla said it is cooperating with authorities ...,tesla,CNBC

In [386]:
# map published time to close date.  see figure.1
def map_to_close_date(published_date):
    dt = parser.parse(published_date[:-1]) #-1 to ignore the Z, which is GMT.
    dt = dt - timedelta(hours=20) #shift back by 20 hrs.
    return pd.Timestamp(year=dt.year, month=dt.month, day=dt.day)

In [387]:
# map news to close date
df_news['Published'] = df_news['Published'].apply(map_to_close_date)

In [388]:
# combine title and body into single text
df_news['Text'] = df_news['Title'] + ' ' + df_news['Body']

In [389]:
# just keep published, and the combined text
df_news = df_news[['Published','Text']]

In [390]:
# merge news and stock
df_stock['Published'] = df_stock.index
df_merged = pd.merge(df_news, df_stock, how='left', on='Published')
df_merged = df_merged.dropna()
df_merged = df_merged.sort_values(by='Published')
df_merged.head()

,Published,Text,Adj Close,Return
408,2018-01-02,"With one simple tweet, Elon Musk shows a maste...",320.529999,-0.010233
1700,2018-01-02,Five Things You Need to Know to Start Your Day...,320.529999,-0.010233
1688,2018-01-02,Car Sales to Top 90 Million Globally for First...,320.529999,-0.010233
1373,2018-01-02,Stock Fund That Beats 95% of Peers Ignores CEO...,320.529999,-0.010233
1365,2018-01-02,Electric Car Drivers Are Too Smart to Own Elec...,320.529999,-0.010233

In [391]:
def tokenize_news(text):
    if(type(text)==float):
        return []
    lmtzr = WordNetLemmatizer()
    stmr = PorterStemmer()
    translator = str.maketrans('', '', string.punctuation)
    text = (text.translate(translator))
    text = "".join(c for c in text if ord(c)<128) #strip no n ascii characters
    tokens = word_tokenize(text)
    t = []
    minlen =  4
    maxlen = 20 
    for token in tokens:
        if len(token) < minlen or len(token) > maxlen or token.isnumeric() or token in stopwords.words('english'):
            pass
        else:
            token = lmtzr.lemmatize(token)
            token = stmr.stem(token)
            t.append(token)
    return t

In [392]:
df_merged['Text'] = df_merged['Text'].apply(tokenize_news)

In [393]:
df_merged.head()

,Published,Text,Adj Close,Return
408,2018-01-02,"[with, simpl, tweet, elon, musk, show, master,...",320.529999,-0.010233
1700,2018-01-02,"[five, thing, need, know, start, your, caught,...",320.529999,-0.010233
1688,2018-01-02,"[sale, million, global, first, time, global, s...",320.529999,-0.010233
1373,2018-01-02,"[stock, fund, that, beat, peer, ignor, talk, r...",320.529999,-0.010233
1365,2018-01-02,"[electr, driver, smart, electr, car, almost, p...",320.529999,-0.010233

In [394]:
df_merged

,Published,Text,Adj Close,Return
408,2018-01-02,"[with, simpl, tweet, elon, musk, show, master,...",320.529999,-0.010233
1700,2018-01-02,"[five, thing, need, know, start, your, caught,...",320.529999,-0.010233
1688,2018-01-02,"[sale, million, global, first, time, global, s...",320.529999,-0.010233
1373,2018-01-02,"[stock, fund, that, beat, peer, ignor, talk, r...",320.529999,-0.010233
1365,2018-01-02,"[electr, driver, smart, electr, car, almost, p...",320.529999,-0.010233
1002,2018-01-03,"[five, thing, need, know, start, your, caught,...",317.250000,-0.008290
29,2018-01-03,"[tesla, deliv, model, sedan, total, vehicl, fo...",317.250000,-0.008290
236,2018-01-03,"[tesla, fourth, quarter, model, deliveri, fall...",317.250000,-0.008290
552,2018-01-03,"[exgoogl, tesla, driverless, czar, partner, wi...",317.250000,-0.008290
22,2018-01-03,"[tesla, model, product, snarl, wall, street, w...",317.250000,-0.008290
1141,2018-01-03,"[break, first, time, ever, strong, job, data, ...",317.250000,-0.008290
1531,2018-01-03,"[stock, make, biggest, move, premarket, trade,...",317.250000,-0.008290
395,2018-01-03,"[tesla, lacklust, model, sale, miss, lower, wa...",317.250000,-0.008290
42,2018-01-03,"[stock, watch, tesla, maci, walgreen, boot, al...",317.250000,-0.008290
587,2018-01-03,"[hyundai, turn, driverlesscar, startup, silico...",317.250000,-0.008290
592,2018-01-03,"[tesla, model, stori, get, compani, news, deli...",317.250000,-0.008290
609,2018-01-03,"[what, new, busi, financ, what, new, busi, fin...",317.250000,-0.008290
764,2018-01-03,"[afterhour, buzz, intc, tsla, stock, post, mov...",317.250000,-0.008290
351,2018-01-03,"[even, read, that, tesla, announc, investor, k...",317.250000,-0.008290
1132,2018-01-04,"[your, first, trade, friday, januari, fast, mo...",314.619995,0.006230
140,2018-01-04,"[fast, money, final, trade, fast, money, trade...",314.619995,0.006230
902,2018-01-04,"[spacex, launch, power, rocket, world, month, ...",314.619995,0.006230
55,2018-01-04,"[chart, tesla, disappoint, bombcyclon, upsid, ...",314.619995,0.006230
1843,2018-01-05,"[user, guid, driverless, car, wait, selfdriv, ...",316.579987,0.062638
1143,2018-01-05,"[deal, appl, buy, buddybuild, googl, back, chi...",316.579987,0.062638
1142,2018-01-05,"[takata, recal, anoth, million, bag, under, or...",316.579987,0.062638
1061,2018-01-08,"[might, rais, nation, secur, issu, china, welc...",336.410004,-0.008085
1687,2018-01-08,"[dont, worri, petrolhead, driverless, car, sti...",336.410004,-0.008085
280,2018-01-08,"[cramer, remix, tesla, stock, simpl, reason, c...",336.410004,-0.008085
256,2018-01-08,"[tesla, power, york, gigafactori, solar, roof,...",336.410004,-0.008085
...,...,...,...,...
984,2018-07-19,"[bloomberg, week, pictur, white, hous, struggl...",320.230011,-0.020766
1187,2018-07-20,"[trump, deal, save, china, surviv, battl, cong...",313.579987,-0.033102
1606,2018-07-20,"[here, cybersecur, profession, compani, actual...",313.579987,-0.033102
645,2018-07-20,"[here, tesla, model, face, declin, demand, des...",313.579987,-0.033102
791,2018-07-23,"[bloomberg, market, tesla, refund, alphabet, e...",303.200012,-0.019030
567,2018-07-23,"[here, tesla, need, convinc, investor, financi...",303.200012,-0.019030
539,2018-07-23,"[cost, insur, tesla, debt, rise, grow, default...",303.200012,-0.019030
212,2018-07-23,"[tesla, trauma, show, lithium, market, need, c...",303.200012,-0.019030
1604,2018-07-23,"[north, korea, begin, raze, rocket, siteenergi...",303.200012,-0.019030
1023,2018-07-23,"[everyth, need, know, thi, morn, from, daybrea...",303.200012,-0.019030
50,2018-07-23,"[norwegian, quietli, revolt, against, tesla, s...",303.200012,-0.019030
1719,2018-07-23,"[ceo, start, bank, billiondollar, bonus, with,...",303.200012,-0.019030
317,2018-07-23,"[final, trade, tsla, fast, money, trader, shar...",303.200012,-0.019030
1190,2018-07-23,"[stock, make, biggest, move, premarket, these,...",303.200012,-0.019030
1,2018-07-23,"[tesla, want, money, back, elon, musk, ask, do...",303.200012,-0.019030
1316,2018-07-23,"[your, first, trade, tuesday, juli, fast, mone...",303.200012,-0.019030
318,2018-07-24,"[tesla, share, come, stepfunct, sale, instinet...",297.429993,0.038026
183,2018-07-24,"[elon, musk, face, tesla, foe, defaultswap, ma...",297.429993,0.038026
1858,2018-07-25,"[spacex, secret, weapon, gwynn, shotwel, launc...",308.739990,-0.006769
1579,2018-07-25,"[mark, cuban, danger, dont, think, termin, com...",308.739990,-0.006769
321,2018-07-25,"[tesla, whistleblow, meet, attorney, say, tesl...",308.739990,-0.006769
1823,2018-07-25,"[welcom, space, space, whole, accessibleand, p...",308.739990,-0.006769
51,2018-07-25,"[norwegian, quietli, revolt, against, tesla, t...",308.739990,-0.006769
1001,2018-07-26,"[intern, combust, engin, have, more, year, tan...",306.649994,-0.030882
1720,2018-07-26,"[facebook, shortliv, latest, roadblock, enter,...",306.649994,-0.030882
782,2018-07-26,"[short, eisman, short, tesla, execut, problem,...",306.649994,-0.030882
793,2018-07-26,"[surveil, tesla, execut, well, eisman, say, pa...",306.649994,-0.030882
873,2018-07-26,"[fool, game, pick, electr, champ, littl, data,...",306.649994,-0.030882
1850,2018-07-26,"[about, social, media, contagion, faang, take,...",306.649994,-0.030882
276,2018-07-26,"[short, steve, eisman, short, tesla, steve, ei...",306.649994,-0.030882

In [323]:
#construct vocabulary and frequency.  frequency is not really needed, just nice to have for understanding the concept.
vocab = {}
frequency = {}
ignore = ['bloomberg', 'journal']
index = 0
for title in df_merged['Text']:
    for word in title:
        if word in ignore:
            continue
        if word not in vocab:
            
            vocab[word] = index
            index += 1
            frequency[word] = 1
        else:
            frequency[word] += 1

In [395]:
#visualize words frequency
for i, freq in enumerate(sorted(frequency.items(), key=lambda x:x[1], reverse=True)):
    if i == 10:
        break
    print(freq)

('tesla', 1081)
('musk', 460)
('elon', 365)
('compani', 244)
('stock', 242)
('model', 230)
('say', 182)
('china', 160)
('market', 158)
('share', 156)

In [408]:
vocab_len = len(vocab)

In [409]:
in_sd = df_merged['Published'].iloc[0]
in_ed = pd.datetime(2018,6,29)
out_sd = pd.datetime(2018,7,2)
out_ed = df_merged['Published'].iloc[-1]

df_training_data = df_merged[np.logical_and(df_merged['Published'] >= in_sd, df_merged['Published'] <= in_ed)]
df_testing_data = df_merged[np.logical_and(df_merged['Published'] >= out_sd, df_merged['Published'] <= out_ed)]

In [410]:
df_training_data.iloc[:20]

,Published,Text,Adj Close,Return
408,2018-01-02,"[with, simpl, tweet, elon, musk, show, master,...",320.529999,-0.010233
1700,2018-01-02,"[five, thing, need, know, start, your, caught,...",320.529999,-0.010233
1688,2018-01-02,"[sale, million, global, first, time, global, s...",320.529999,-0.010233
1373,2018-01-02,"[stock, fund, that, beat, peer, ignor, talk, r...",320.529999,-0.010233
1365,2018-01-02,"[electr, driver, smart, electr, car, almost, p...",320.529999,-0.010233
1002,2018-01-03,"[five, thing, need, know, start, your, caught,...",317.250000,-0.008290
29,2018-01-03,"[tesla, deliv, model, sedan, total, vehicl, fo...",317.250000,-0.008290
236,2018-01-03,"[tesla, fourth, quarter, model, deliveri, fall...",317.250000,-0.008290
552,2018-01-03,"[exgoogl, tesla, driverless, czar, partner, wi...",317.250000,-0.008290
22,2018-01-03,"[tesla, model, product, snarl, wall, street, w...",317.250000,-0.008290
1141,2018-01-03,"[break, first, time, ever, strong, job, data, ...",317.250000,-0.008290
1531,2018-01-03,"[stock, make, biggest, move, premarket, trade,...",317.250000,-0.008290
395,2018-01-03,"[tesla, lacklust, model, sale, miss, lower, wa...",317.250000,-0.008290
42,2018-01-03,"[stock, watch, tesla, maci, walgreen, boot, al...",317.250000,-0.008290
587,2018-01-03,"[hyundai, turn, driverlesscar, startup, silico...",317.250000,-0.008290
592,2018-01-03,"[tesla, model, stori, get, compani, news, deli...",317.250000,-0.008290
609,2018-01-03,"[what, new, busi, financ, what, new, busi, fin...",317.250000,-0.008290
764,2018-01-03,"[afterhour, buzz, intc, tsla, stock, post, mov...",317.250000,-0.008290
351,2018-01-03,"[even, read, that, tesla, announc, investor, k...",317.250000,-0.008290
1132,2018-01-04,"[your, first, trade, friday, januari, fast, mo...",314.619995,0.006230

In [411]:
df_testing_data.iloc[:20]

,Published,Text,Adj Close,Return
742,2018-07-02,"[tesla, paus, some, model, output, after, hit,...",335.070007,-0.072254
536,2018-07-02,"[tesla, stop, brake, roll, test, push, model, ...",335.070007,-0.072254
368,2018-07-02,"[wall, street, impress, tesla, model, mileston...",335.070007,-0.072254
1597,2018-07-02,"[progress, dont, hate, trump, even, berni, san...",335.070007,-0.072254
1600,2018-07-02,"[glencor, target, corrupt, probeenergi, journa...",335.070007,-0.072254
714,2018-07-02,"[german, leader, say, migrat, clash, with, mer...",335.070007,-0.072254
282,2018-07-02,"[shout, elon, musk, chang, rule, insid, telsa,...",335.070007,-0.072254
983,2018-07-02,"[tech, ralli, long, cnbc, cnbc, tech, ralli, l...",335.070007,-0.072254
485,2018-07-02,"[tesla, share, close, despit, model, goal, ann...",335.070007,-0.072254
315,2018-07-02,"[tesla, profit, septemb, say, gene, munster, l...",335.070007,-0.072254
330,2018-07-02,"[tesla, chief, engin, tesla, inc, engin, doug,...",335.070007,-0.072254
114,2018-07-02,"[tesla, engin, leader, doug, field, depart, te...",335.070007,-0.072254
324,2018-07-02,"[tesla, watcher, predict, what, star, tesla, g...",335.070007,-0.072254
537,2018-07-02,"[stock, watch, facebook, tesla, campbel, amazo...",335.070007,-0.072254
1864,2018-07-05,"[walmart, take, stand, gun, right, peopl, like...",309.160004,-0.000841
1577,2018-07-05,"[merced, suv, roam, free, useu, tariff, drop, ...",309.160004,-0.000841
526,2018-07-05,"[sell, tesla, wall, street, pull, rarest, rate...",309.160004,-0.000841
1431,2018-07-05,"[your, even, brief, here, today, stori]",309.160004,-0.000841
1734,2018-07-05,"[health, care, disrupt, warbi, parker, offer, ...",309.160004,-0.000841
18,2018-07-05,"[musk, say, norwegian, right, upset, with, tes...",309.160004,-0.000841

In [412]:
def to_one_hot(text):
    #return one hot vector of shape (vocab_len, 1)
    array = np.zeros((vocab_len, 1))
    for word in text:
        if word in vocab:
            index = vocab[word]
            array[index] = 1
    return array

In [413]:
def get_X(df_text):
    X = np.empty((vocab_len,0))
    for text in df_text:
        array = to_one_hot(text)
        X = np.hstack((X,array))
    X = X.T
    return X

In [402]:
# here is the exciting part. here we are going to create the training data!
train_x = get_X(df_training_data['Text'])
test_x = get_X(df_testing_data['Text'])

In [403]:
# get labels
train_y = df_training_data['Return'].values.copy()
test_y = df_testing_data['Return'].values.copy()

In [404]:
train_y[train_y <= 0] = 0
train_y[train_y > 0] = 1

test_y[test_y <= 0] = 0
test_y[test_y > 0] = 1

In [414]:
print(train_x.shape)
print(train_y.shape)
print(test_x.shape)
print(test_y.shape)

(1103, 4518)
(1103,)
(128, 4518)
(128,)

In [415]:
#train the model
model = Sequential()
model.add(Dense(1, input_dim=train_x.shape[1], activation='relu', kernel_initializer='uniform'))
# model.add(Dense(12, activation='relu', kernel_initializer='uniform'))
# model.add(Dense(1, activation='sigmoid', kernel_initializer='uniform'))

optimizer = optimizers.Adam(lr=0.001, beta_1=0.9, beta_2=0.999, epsilon=None, decay=0.00001, amsgrad=False)
model.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['accuracy'])
model.fit(train_x, train_y, epochs=50, batch_size=32, verbose=1)

Epoch 1/50
1103/1103 [==============================] - 1s 604us/step - loss: 3.3862 - acc: 0.5222
Epoch 2/50
1103/1103 [==============================] - 0s 126us/step - loss: 1.4959 - acc: 0.5313
Epoch 3/50
1103/1103 [==============================] - 0s 132us/step - loss: 0.9903 - acc: 0.5694
Epoch 4/50
1103/1103 [==============================] - 0s 133us/step - loss: 0.8655 - acc: 0.6011
Epoch 5/50
1103/1103 [==============================] - 0s 136us/step - loss: 0.7720 - acc: 0.6346
Epoch 6/50
1103/1103 [==============================] - 0s 125us/step - loss: 0.6824 - acc: 0.6736
Epoch 7/50
1103/1103 [==============================] - 0s 165us/step - loss: 0.6348 - acc: 0.7026
Epoch 8/50
1103/1103 [==============================] - 0s 140us/step - loss: 0.6035 - acc: 0.7244
Epoch 9/50
1103/1103 [==============================] - 0s 129us/step - loss: 0.5750 - acc: 0.7570
Epoch 10/50
1103/1103 [==============================] - 0s 134us/step - loss: 0.5483 - acc: 0.7743
Epoch 11/50
1103/1103 [==============================] - 0s 155us/step - loss: 0.5242 - acc: 0.7879
Epoch 12/50
1103/1103 [==============================] - 0s 137us/step - loss: 0.5014 - acc: 0.8042
Epoch 13/50
1103/1103 [==============================] - 0s 145us/step - loss: 0.4805 - acc: 0.8223
Epoch 14/50
1103/1103 [==============================] - 0s 139us/step - loss: 0.4611 - acc: 0.8432
Epoch 15/50
1103/1103 [==============================] - 0s 149us/step - loss: 0.4430 - acc: 0.8531
Epoch 16/50
1103/1103 [==============================] - 0s 140us/step - loss: 0.4261 - acc: 0.8685
Epoch 17/50
1103/1103 [==============================] - 0s 171us/step - loss: 0.4109 - acc: 0.8785
Epoch 18/50
1103/1103 [==============================] - 0s 133us/step - loss: 0.3962 - acc: 0.8849
Epoch 19/50
1103/1103 [==============================] - 0s 151us/step - loss: 0.3827 - acc: 0.8921
Epoch 20/50
1103/1103 [==============================] - 0s 130us/step - loss: 0.3700 - acc: 0.9048
Epoch 21/50
1103/1103 [==============================] - 0s 143us/step - loss: 0.3580 - acc: 0.9084
Epoch 22/50
1103/1103 [==============================] - 0s 142us/step - loss: 0.3470 - acc: 0.9102
Epoch 23/50
1103/1103 [==============================] - 0s 132us/step - loss: 0.3364 - acc: 0.9166
Epoch 24/50
1103/1103 [==============================] - 0s 134us/step - loss: 0.3264 - acc: 0.9211
Epoch 25/50
1103/1103 [==============================] - 0s 130us/step - loss: 0.3171 - acc: 0.9257
Epoch 26/50
1103/1103 [==============================] - 0s 133us/step - loss: 0.3082 - acc: 0.9320
Epoch 27/50
1103/1103 [==============================] - 0s 147us/step - loss: 0.3000 - acc: 0.9338
Epoch 28/50
1103/1103 [==============================] - 0s 137us/step - loss: 0.2922 - acc: 0.9365
Epoch 29/50
1103/1103 [==============================] - 0s 137us/step - loss: 0.2846 - acc: 0.9393
Epoch 30/50
1103/1103 [==============================] - 0s 163us/step - loss: 0.2773 - acc: 0.9438
Epoch 31/50
1103/1103 [==============================] - 0s 135us/step - loss: 0.2706 - acc: 0.9465
Epoch 32/50
1103/1103 [==============================] - 0s 145us/step - loss: 0.2640 - acc: 0.9492
Epoch 33/50
1103/1103 [==============================] - 0s 141us/step - loss: 0.2578 - acc: 0.9501
Epoch 34/50
1103/1103 [==============================] - 0s 139us/step - loss: 0.2518 - acc: 0.9529
Epoch 35/50
1103/1103 [==============================] - 0s 142us/step - loss: 0.2463 - acc: 0.9538
Epoch 36/50
1103/1103 [==============================] - 0s 167us/step - loss: 0.2411 - acc: 0.9556
Epoch 37/50
1103/1103 [==============================] - 0s 137us/step - loss: 0.2362 - acc: 0.9565
Epoch 38/50
1103/1103 [==============================] - 0s 141us/step - loss: 0.2314 - acc: 0.9574
Epoch 39/50
1103/1103 [==============================] - 0s 127us/step - loss: 0.2267 - acc: 0.9583
Epoch 40/50
1103/1103 [==============================] - 0s 153us/step - loss: 0.2226 - acc: 0.9601
Epoch 41/50
1103/1103 [==============================] - 0s 133us/step - loss: 0.2187 - acc: 0.9610
Epoch 42/50
1103/1103 [==============================] - 0s 139us/step - loss: 0.2147 - acc: 0.9619
Epoch 43/50
1103/1103 [==============================] - 0s 138us/step - loss: 0.2111 - acc: 0.9628
Epoch 44/50
1103/1103 [==============================] - 0s 129us/step - loss: 0.2077 - acc: 0.9637
Epoch 45/50
1103/1103 [==============================] - 0s 138us/step - loss: 0.2045 - acc: 0.9646
Epoch 46/50
1103/1103 [==============================] - 0s 141us/step - loss: 0.2015 - acc: 0.9646
Epoch 47/50
1103/1103 [==============================] - 0s 136us/step - loss: 0.1985 - acc: 0.9646
Epoch 48/50
1103/1103 [==============================] - 0s 140us/step - loss: 0.1957 - acc: 0.9655
Epoch 49/50
1103/1103 [==============================] - 0s 140us/step - loss: 0.1931 - acc: 0.9665
Epoch 50/50
1103/1103 [==============================] - 0s 143us/step - loss: 0.1907 - acc: 0.9665

In [424]:
#view weights
weights, biases = model.layers[0].get_weights()
for i, k in enumerate(vocab.keys()):
    if i == 10:
        break
    print(k, weights[i])

chart [0.04608103]
tesla [0.03165225]
disappoint [0.05556849]
bombcyclon [0.12327755]
upsid [0.17441784]
from [0.02953027]
smartphon [0.04516871]
consequ [0.06200724]
vanguard [0.07555415]
primaci [0.06434689]

In [425]:
#assess in-sample accuracy
predictions = model.predict_classes(train_x)
predictions = predictions.reshape((predictions.shape[0],))
np.sum(predictions == train_y) / train_y.shape[0]

0.9673617407071623

In [426]:
#assess out-of-sample accuracy
predictions = model.predict_classes(test_x)
predictions = predictions.reshape((predictions.shape[0],))
np.sum(predictions == test_y) / test_y.shape[0]

0.546875

In [433]:
#generate trades
def generate_trades(df, ticker):
    sd = df['Published'].iloc[0]
    ed = df['Published'].iloc[-1]
    trades = tut.get_prices(ticker, sd, ed)
    trades[:] = 0
    curr_date = sd
    votes = []
    for date, text in zip(df_training_data['Published'], df_training_data['Text']):
        if date != curr_date:
            trades.loc[curr_date] = mode(votes)[0][0]
            votes = []
            curr_date = date
        text_vector = to_one_hot(text)
        prediction = model.predict_classes(text_vector.T)
        votes.append(prediction[0][0])
    trades = tut.predictions_to_trades(ticker, trades.values, start_date, end_date, 1, 0)
    return trades

In [434]:
generate_trades(df_training_data, 'TSLA')

            TSLA
2018-01-02  -1.0
2018-01-03   0.0
2018-01-04   2.0
2018-01-05   0.0
2018-01-08  -2.0
2018-01-09   2.0
2018-01-10   0.0
2018-01-11  -2.0
2018-01-12   0.0
2018-01-16   2.0
2018-01-17  -2.0
2018-01-18   2.0
2018-01-19   0.0
2018-01-22   0.0
2018-01-23  -2.0
2018-01-24   0.0
2018-01-25   2.0
2018-01-26   0.0
2018-01-29  -2.0
2018-01-30   2.0
2018-01-31  -2.0
2018-02-01   0.0
2018-02-02   0.0
2018-02-05   2.0
2018-02-06   0.0
2018-02-07  -2.0
2018-02-08   0.0
2018-02-09   0.0
2018-02-12   2.0
2018-02-13  -2.0
...          ...
2018-06-15   0.0
2018-06-18  -2.0
2018-06-19   2.0
2018-06-20  -2.0
2018-06-21   0.0
2018-06-22   0.0
2018-06-25   2.0
2018-06-26   0.0
2018-06-27   0.0
2018-06-28  -2.0
2018-06-29   0.0
2018-07-02   0.0
2018-07-03   0.0
2018-07-05   0.0
2018-07-06   0.0
2018-07-09   0.0
2018-07-10   0.0
2018-07-11   0.0
2018-07-12   0.0
2018-07-13   0.0
2018-07-16   0.0
2018-07-17   0.0
2018-07-18   0.0
2018-07-19   0.0
2018-07-20   0.0
2018-07-23   0.0
2018-07-24   0.0
2018-07-25   0.0
2018-07-26   0.0
2018-07-27   0.0

[144 rows x 1 columns]

In [ ]:
starting_cash = 100000
holding_limit = 1000
btr = BackTester(starting_cash, holding_limit)

In [31]:
df_merged

,Published,Text,Adj Close,Return
0,2018-04-02,"[tesla, end, make, model, sedan, week, tesla, ...",252.479996,-0.051291
1,2018-07-23,"[tesla, want, money, back, elon, musk, ask, do...",303.200012,-0.033102
3,2018-05-08,"[florida, teenag, kill, tesla, crash, tesla, s...",301.970001,-0.002642
4,2018-05-09,"[nhtsa, join, ntsb, look, fatal, tesla, crash,...",306.850006,0.016161
5,2018-04-12,"[tesla, investig, feud, over, crash, tesla, in...",294.079987,-0.022763
6,2018-04-16,"[tesla, halt, model, product, again, wall, str...",291.209991,-0.030399
7,2018-06-29,"[elon, musk, tweet, featur, tesla, pickup, tru...",342.950012,-0.019947
8,2018-03-27,"[tesla, defend, autopilot, record, fed, launch...",279.179993,-0.082188
9,2018-03-29,"[tesla, recal, model, car, over, bolt, issu, w...",266.130005,0.032392
10,2018-04-26,"[kany, cant, save, tesla, from, chipotl, long,...",285.480011,0.017065
11,2018-06-11,"[buri, musk, cut, memo, home, depot, solar, sa...",332.100006,0.045457
13,2018-06-22,"[tesla, crackup, foretold, real, problem, gove...",333.630005,-0.039941
14,2018-07-11,"[panason, say, open, work, with, tesla, china,...",318.959991,-0.010885
17,2018-05-15,"[tesla, lose, energi, leader, musk, reorgan, b...",284.179993,-0.026681
18,2018-07-05,"[musk, say, norwegian, right, upset, with, tes...",309.160004,-0.005469
19,2018-06-12,"[tesla, deepak, ahuja, worst, tesla, layoff, t...",342.769989,0.032129
20,2018-01-26,"[tesla, superfan, stage, cancer, get, surpris,...",342.850006,0.015431
21,2018-01-22,"[elon, musk, tesla, propos, could, earn, billi...",351.559998,0.004400
22,2018-01-03,"[tesla, model, product, snarl, wall, street, w...",317.250000,-0.010233
23,2018-05-02,"[tesla, rais, mani, question, just, make, sure...",301.149994,0.004101
24,2018-03-27,"[tesla, go, come, roar, back, silicon, valley,...",279.179993,-0.082188
26,2018-04-04,"[thi, polic, depart, switch, tesla, suv, elon,...",286.940002,0.072553
27,2018-04-03,"[tesla, china, trade, elon, musk, thorniest, t...",267.529999,0.059609
28,2018-01-22,"[tesla, chang, elon, musk, market, target, 10y...",351.559998,0.004400
29,2018-01-03,"[tesla, deliv, model, sedan, total, vehicl, fo...",317.250000,-0.010233
30,2018-03-28,"[elon, musk, might, control, tesla, bloomberg,...",257.779999,-0.076653
31,2018-03-15,"[tesla, face, crunch, cash, hoard, thin, tesla...",325.600006,-0.003153
32,2018-05-21,"[elon, musk, say, make, cheaper, model, would,...",284.489990,0.027707
35,2018-02-06,"[tesla, earn, what, watch, tesla, expect, rele...",333.970001,0.002522
36,2018-04-16,"[china, doe, tesla, favor, carmak, exist, join...",291.209991,-0.030399
...,...,...,...,...
1835,2018-03-26,"[california, taught, china, sell, electr, car,...",304.179993,0.008755
1836,2018-03-19,"[voter, they, want, more, driverless, car, blo...",313.559998,-0.024242
1837,2018-03-29,"[russia, lash, back, john, bolton, polit, trum...",266.130005,0.032392
1838,2018-03-12,"[robot, ride, go, deliv, pizza, parcel, befor,...",345.510010,0.056056
1843,2018-01-05,"[user, guid, driverless, car, wait, selfdriv, ...",316.579987,0.006230
1844,2018-04-16,"[real, time, econom, trade, tension, escal, ag...",291.209991,-0.030399
1845,2018-04-26,"[million, year, partner, bid, grow, toptier, f...",285.480011,0.017065
1846,2018-04-11,"[ryan, replac, pompeo, hill, senat, shield, mu...",300.929993,-0.012373
1847,2018-04-16,"[capit, journal, superpow, conflict, clinton, ...",291.209991,-0.030399
1849,2018-05-14,"[which, motorcycl, should, guid, bike, there, ...",291.970001,-0.030193
1850,2018-07-26,"[about, social, media, contagion, faang, take,...",306.649994,-0.006769
1852,2018-02-13,"[product, februari, here, boost, dont, surrend...",323.660004,0.025116
1853,2018-04-03,"[mueller, mandat, trump, unbound, china, tarif...",267.529999,0.059609
1854,2018-04-04,"[real, time, econom, uschina, showdown, job, p...",286.940002,0.072553
1855,2018-02-08,"[hous, pass, bill, shutdown, after, rand, paul...",315.230011,-0.086290
1856,2018-02-08,"[hous, pass, bill, shutdown, after, rand, paul...",315.230011,-0.086290
1857,2018-06-21,"[cant, hide, corpor, cop, also, data, scienc, ...",347.510010,-0.040611
1858,2018-07-25,"[spacex, secret, weapon, gwynn, shotwel, launc...",308.739990,0.038026
1859,2018-03-26,"[facebook, help, shadi, advertis, pollut, inte...",304.179993,0.008755
1860,2018-02-01,"[cyberinsid, trade, illeg, bloomberg, hack, co...",349.250000,-0.014281
1863,2018-05-14,"[gunlaw, loophol, that, entic, tycoon, crimin,...",291.970001,-0.030193
1864,2018-07-05,"[walmart, take, stand, gun, right, peopl, like...",309.160004,-0.005469
1865,2018-05-16,"[tri, write, thi, stori, then, gave, wrote, da...",286.480011,0.008094
1866,2018-05-24,"[mike, meru, million, student, loan, that, hap...",277.850006,-0.004372
1867,2018-02-07,"[china, outlook, seem, darkest, from, distanc,...",345.000000,0.033027
1868,2018-02-06,"[comstock, challeng, trump, over, shutdown, co...",333.970001,0.002522
1870,2018-04-09,"[instagram, look, like, facebook, best, hope, ...",289.660004,-0.032208
1871,2018-04-23,"[cnbc, excerpt, cnbc, broadcast, live, sohn, i...",283.369995,-0.023670
1872,2018-05-23,"[china, 36thbest, compani, save, volvo, bloomb...",279.070007,0.014763
1873,2018-05-16,"[appl, rival, their, futur, these, men, dream,...",286.480011,0.008094